[push]
    default = matching
[alias]
    ci = commit
    br = branch
    co = checkout
    st = status
[color]
    st = auto
    diff = auto
    ui = true
[credential]
    helper = cache --timeout 30000
