# When update this file,
# please using `pushd docker && bash run.sh && popd`
# to generate dockerfiles for DELTA

matplotlib
sklearn
pandas
librosa
absl-py
jieba
kaldiio
soundfile
textgrid
pyyaml
yapf
gensim
hurry.filesize
imbalanced-learn
sphinx
sphinx_rtd_theme
recommonmark
pylint
cpplint
seqeval
rouge
sacrebleu
pyAudioAnalysis
flake8
sentencepiece
deepdiff
tensorflow_addons
