# When update this file,
# please using `pushd docker && bash run.sh && popd`
# to generate dockerfiles for DELTA

matplotlib
sklearn
pandas
librosa>=0.7.2
numba==0.48.0  #must be this by librosa>=0.7.2
absl-py
jieba
wget
kaldiio
soundfile
textgrid
pyyaml
yapf
gensim
hurry.filesize
imbalanced-learn
sphinx
sphinx_rtd_theme
recommonmark
pylint
cpplint
seqeval
rouge
sacrebleu
pyAudioAnalysis
flake8
sentencepiece
deepdiff
tensorflow-addons==0.11.1
tensorflow-model-optimization


# TODO: rm below
# https://github.com/tensorflow/addons/issues/864
tensorflow-cpu==2.3.0
