matplotlib
sklearn
pandas
librosa
absl-py
jieba
kaldiio
soundfile
textgrid
pyyaml
yapf
gensim
hurry.filesize
imbalanced-learn
sphinx
sphinx_rtd_theme
recommonmark
pylint
cpplint
seqeval
rouge
sacrebleu
